
@font-face {
    font-family: myFont1;
    src: url(../fonts/Rubik-Medium.ttf);
}
:root {
    --rgba-primary-bg-color: 28, 29, 37;
    --rgba-primary: 115, 102, 255;
    --rgba-secondary: 30, 166, 236;
    --rgba-success: 25, 135,84;
    --rgba-danger: 220, 53, 69;
    --rgba-warning: 255, 193, 7;
    --rgba-white: 255, 255, 255;
    --rgba-black: 0, 0, 0;

    --primary-color: rgba(var(--rgba-primary));
    --secondary-color: rgba(var(--rgba-secondary));
    --success-color: rgba(var(--rgba-success));
    --danger-color: rgba(var(--rgba-danger));
    --warning-color: rgba(var(--rgba-warning));
    --white-color: rgba(var(--rgba-white), 0.6);
    --black-color: rgba(var(--rgba-black));

    --border-primary: 1px solid #374558;

    --bg-primary-gradient: radial-gradient(circle, rgba(var(--rgba-primary), 0.2) 0%, rgba(var(--rgba-primary-bg-color))100%);
    --bg-box-primary: #262932;

    --shadow-primary: -3px 5px 5px rgba(var(--rgba-black), 0.5);
}
*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
*::-webkit-scrollbar-track {
    background-color: rgba(var(--rgba-primary), 0.2);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 6px;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: rgba(var(--rgba-primary), 0.5);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    width: 100%;
    text-decoration: none;
    color: var(--white-color);
}
body {
    width: 100%;
    background: rgba(var(--rgba-primary-bg-color));
    color: var(--white-color);
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
}
.containterlogin {
    width: 350px;
    height: 100vh;
    max-height: 100vh;
    margin: auto;
    color: rgba(var(--rgba-white));
}
.loginpart {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginpart img {
    width: 200px;
    margin-bottom: 10px;
}
.formlogin {
    background: var(--bg-primary-gradient);
    border: var(--border-primary);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 40px 40px 60px 40px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 10px rgba(var(--rgba-black), 0.3);
}
.listformlogin {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 3px;
    position: relative;
}
.listformlogin svg {
    position: absolute;
    left: 10px;
}
.titleinput {
    font-size: 13px;
    font-family: 'myFont1';
    transition: all 0.3s ease;
    letter-spacing: 1px;
}
.containterlogin form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: unset;
    padding-bottom: 50%;
}
input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    background: rgba(var(--rgba-white));
    border: 1px solid transparent;
    border-radius: 6px;
    outline: none;
    box-shadow: inset 5px 5px 5px rgba(var(--rgba-black), 0.25);
    transition: all 0.3s ease;
    cursor: pointer;
}
input:focus {
    border: 1px solid var(--primary-color);
    box-shadow: inset 5px 5px 5px rgba(var(--rgba-black), 0.05)
}
.formlogin h1 {
    width: 100%;
    text-align: center;
    font-family: 'myFont1';
    letter-spacing: 2px;
}
.formlogin p {
    width: 100%;
    text-align: center;
    color: rgba(var(--rgba-white), 0.6);
    font-size: 14px;
}
.headformlogin {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 35px;
    margin-bottom: 10px;
}
.cupbtn {
    width: 100%;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 6px;
    margin-top: 10px;
    font-family: 'myFont1';
    font-weight: bolder;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 17px;
    transition: all 0.3s ease;
    border: 1px solid transparent;
}
.primary {
    background: var(--primary-color);
    color: rgba(var(--rgba-white));
}
.primary:hover {
    background: transparent;
    border: 1px solid var(--primary-color);
    box-shadow: 5px 8px 8px rgba(var(--rgba-black), 0.1);
}
.copyright {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
}
.copyright p{
    width: 100%;
    font-size: 10px;
}
svg {
    width: 20px;
    stroke: var(--primary-color);
}
.groupinputlogin {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.sec_container_utama {
    width: 100%;
    max-height: 100vh;
    position: relative;
    display: flex;
    justify-content: flex-start;
    transition: all 1s ease;
}
.sec_container_utama.noexpand {
    transition: all 1s ease;
}
.sec_sidebar {
    width: 300px;
    background: var(--bg-box-primary);
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.5s ease;
    z-index: 1;
}
.sec_groupmain {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}
.sec_logo {
    width: 100%;
    height: 100%;
    max-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 15px;
    gap: 10px;
    transition: all 0.3s ease;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(var(--rgba-primary), 0.2);
    background: rgba(var(--rgba-black), 0.1);
}
.sec_logo a {
    width: 80%;
}
.gmb_logo {
    width: 100%;
    transition: all 0.3s ease;
}
.sec_logo svg {
    width: 50px;
    cursor: pointer;
    padding: 7px;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.sec_logo svg:hover {
    background: rgba(var(--rgba-white), 0.05);
    border-radius: 50%;
}
.sec_navbarutama_kanan {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.nav_group {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(var(--rgba-primary), 0.2);
    margin-right: 5px;
}
.title_Nav {
    margin-left: 10px;
    font-family: 'myFont1';
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(var(--rgba-white), 0.9);
}
.list_sidejsx {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.data_sidejsx {
    display: flex;
    width: 100%;
    align-items: center;
    cursor: pointer;
}
.data_sidejsx span {
    font-family: 'myFont1';
    letter-spacing: 0.7px;
    text-transform: capitalize;
    font-size: 14px;
    width: 100%;
}
.data_sidejsx a {
    padding: 10px 0 10px 10px;
    display: flex;
    align-items: center;
    border-right: 5px solid transparent;
    justify-content: flex-start;
    gap: 10px;
    transition: all 0.3s ease;
}
.data_sidejsx a:hover {
    background: rgba(var(--rgba-primary), 0.2);
    border-right: 5px solid var(--primary-color);
    border-radius: 0 6px 6px 0;
}
.data_sidejsx a:hover span {
    color: var(--primary-color);
}
.data_sidejsx.active a {
    background: rgba(var(--rgba-primary), 0.2);
    border-right: 5px solid var(--primary-color);
    border-radius: 0 6px 6px 0;
}
.data_sidejsx.active span {
    color: var(--primary-color);
}
.sec_list_sidemenu {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}
.sec_list_sidemenu::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
.sec_list_sidemenu::-webkit-scrollbar-track {
    background-color: rgba(var(--rgba-primary), 0.1);
    box-shadow: inset 0 0 2px rgba(var(--rgba-primary), 0.5);
    border-radius: 6px;
}
.sec_list_sidemenu::-webkit-scrollbar-thumb {
    background-color: rgba(var(--rgba-primary), 0.3);
    border-radius: 6px;
    box-shadow: inset 0 0 2px rgba(var(--rgba-primary), 0.8);
}
.sec_list_sidemenu::-webkit-scrollbar-thumb:hover {
    background-color: rgba(var(--rgba-primary), 0.15);
}
.data_sidejsx a svg {
    width: 25px;
}
.data_sidejsx .arrow_side {
    display: flex;
    align-items: center;
    height: 100%;
    width: 10%;
    justify-content: flex-end;
}
.data_sidejsx .arrow_side svg {
    width: 20px;
    transition: all 0.3s ease;
}
.data_sidejsx.active .arrow_side svg {
    transform: rotateZ(90deg);
}
.sub_data_sidejsx {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 15px;
}
.sub_data_sidejsx a {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}
.sub_data_sidejsx a:hover .dotsub {
    background: rgba(var(--rgba-primary));
}
.sub_data_sidejsx a:hover span {
    color: var(--primary-color);
}
.list_subdata {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 0;
    gap: 10px;
}
.list_subdata span {
    font-family: 'myFont1';
    letter-spacing: 0.7px;
    font-size: 14px;
    text-transform: capitalize;
}
.list_subdata .dotsub {
    padding: 3px;
    width: 8px;
    height: 8px;
    background: rgba(var(--rgba-white), 0.05);
    border-radius: 50%;
    border: var(--border-primary);
}
.list_subdata.active .dotsub {
    background: rgba(var(--rgba-primary));
}
.list_subdata.active span {
    color: var(--primary-color);
}
.bagsearch {
    width: 100%;
    padding: 0 10px;
    position: sticky;
    top: 0;
    transition: all 0.5s ease;
}
.grubsearchnav {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}
.bagsearch svg {
    position: absolute;
    left: 12px;
}
.sec_top_navbar {
    width: 100%;
    height: 100%;
    max-height: 6vh;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-box-primary);
    border-bottom: 1px solid rgba(var(--rgba-primary), 0.1);
}
.list_bread,
.separator_bread {
    list-style: none;
}
.main_bred {
    display: flex;
    text-transform: capitalize;
    font-size: 14px;
    align-items: center;
    gap: 5px;
}
.main_bred svg {
    width: 10px;
}
.main_bred a {
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}
.main_bred a:hover {
    color: rgba(var(--rgba-white));
}
.right_top_nav {
    display: flex;
    align-items: center;
    gap: 10px;
}
.right_top_nav .bagsearch {
    padding: 0;
}
.right_top_nav .bagsearch input {
    padding: 5px 5px 5px 40px;
}
.nav_notifikasi {
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}
.nav_notifikasi svg,
.todo_nav svg  {
    width: 30px;
}
.nav_notifikasi .countnotif,
.todo_nav .countnotif  {
    width: 18px;
    height: 18px;
    padding: 2px;
    border-radius: 50%;
    background: var(--bg-box-primary);
    position: absolute;
    top: 0px;
    right: -5px;
}
.nav_notifikasi .countnotif p,
.todo_nav .countnotif p {
    width: 100%;
    height: 100%;
    font-size: 9px;
    font-weight: 800;
    background: rgba(var(--rgba-danger));
    padding: 5px 5px 6px 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav_notifikasi:hover > span,
.todo_nav:hover > span {
    display: block;
}
.nav_notifikasi span {
    position: absolute;
    left: -45px;
    bottom: -16px;
    font-size: 9px;
    padding: 3px 10px;
    border-radius: 10px 0;
    background: var(--primary-color);
    box-shadow: 5px 5px 5px rgba(var(--rgba-black), 0.25);
    display: none;
    transition: all 0.3s ease;
}
.todo_nav {
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}
.todo_nav span {
    position: absolute;
    left: -35px;
    bottom: -16px;
    font-size: 9px;
    padding: 3px 10px;
    border-radius: 10px 0;
    background: var(--primary-color);
    box-shadow: 5px 5px 5px rgba(var(--rgba-black), 0.25);
    display: none;
    transition: all 0.3s ease;
}
.profile_nav {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    position: relative;
}
.users_img {
    width: 40px;
    border-radius: 50%;
    border: 3px solid rgba(var(--rgba-primary), 0.6);
}
.users_name {
    text-transform: capitalize;
    color: rgba(var(--rgba-white));
    font-size: 14px;
}
.group_users_level {
    display: flex;
    align-items: center;
    gap: 3px;
}
.group_users_level span {
    font-size: 12px;
}
.list_menu_profile {
    position: absolute;
    top: 50px;
    background: rgba(var(--rgba-white));
    padding: 10px;
    border-radius: 6px;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    box-shadow: 3px 5px 5px rgba(var(--rgba-black), 0.2);
    z-index: 1;
}
.list_menu_profile form {
    padding-bottom: unset;
    cursor: pointer;
}
.list_menu_profile form button {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}
.list_menu_profile a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.data_profile {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-start;
}
.data_profile span {
    text-transform: capitalize;
    color: var(--black-color);
}
.data_profile:hover span {
    color: rgba(var(--rgba-primary));
}
.data_profile:hover svg {
    stroke: rgba(var(--rgba-primary));
}
.list_menu_profile.show {
    display: flex;
}
.sec_main_konten {
    
}
.title_main_content {
    padding: 0 15px;
    width: 100%;
    height: 100%;
    max-height: 6vh;
    border-bottom: 1px solid rgba(var(--rgba-primary), 0.2);
    display: flex;
    align-items: center;
    background: var(--bg-box-primary);
}
.title_main_content h3 {
    text-transform: capitalize;
    font-size: 22px;
}
.content_body {
    width: 100%;
    height: 83vh;
    max-height: 83vh;
    padding: 15px;
    position: relative;
    overflow-y: hidden;
}
.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 5px 10px 5px 280px;
    background: var(--bg-box-primary);
    border-top: 1px solid rgba(var(--rgba-primary), 0.3);
    text-align: left;
}
.footer span {
    font-size: 12px;
}
.noexpand .gmb_logo {
    width: 170px;
    position: relative;
    left: -65px;
}
.noexpand .sec_logo svg {
    display: none;
}
.noexpand .data_sidejsx span {
    display: none;
}
.noexpand .data_sidejsx .arrow_side {
    display: none;
}
.noexpand .title_Nav {
    display: none;
}
.noexpand .sec_sidebar {
    width: 80px;
    transition: all 0.5s ease;
}
.noexpand .data_sidejsx a {
    justify-content: center;
}
.noexpand .bagsearch.side {
    display: none;
    transition: all 0.5s ease;
}
.sec_box {
    width: 100%;
    border: var(--border-primary);
    border-radius: 6px;
    padding: 10px;
    background: var(--bg-box-primary);
}
.sec_box h2 {
    text-align: center;
    margin-bottom: 10px;
}
.sec_box .desk_code {
    padding: 10px;
    background: rgba(var(--rgba-black), 0.3);
    border: var(--border-primary);
    margin-bottom: 10px;
    border-radius: 6px 6px 0 0;
    white-space: pre-line;
}
.bar_code {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    justify-items: stretch;
    align-items: stretch;
}
.preview_code {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    gap: 10px;
    border: var(--border-primary);
    border-radius: 0 0 6px 6px;
    background: rgba(var(--rgba-black), 0.3);
    padding: 10px;
}
.autos {
    max-height: unset !important;
}
.copy_code {
    width: 100%;
    height: 100%;
    max-height: 350px;
    border: var(--border-primary);
    border-radius: 0 0 6px 6px;
    background: rgba(var(--rgba-black), 0.3);
    position: relative;
    overflow-x: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
pre[class*="language-"] {
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 0 0 6px 6px !important;
    line-height: inherit !important;
    height: 100%;
}
.copy_element {
    display: flex;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: rgba(var(--rgba-primary), 0.2);
    gap: 5px;
    border-radius: 0 0 0 6px;
    color: var(--white-color);
    cursor: pointer;
    transition: all 0.3s ease;
}
.copy_element:hover {
    background: aqua;
    color: var(--black-color);
}
.group_view_code {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.sec_table {
    width: 100%;
    height: 100%;
    max-height: 83vh;
    overflow-y: auto;
    padding: 0 5px 100px 5px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.sec_table h2 {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(var(--rgba-primary), 0.2);
}
table, tbody {
    width: 100%;
    border: var(--border-primary);
    background: var(--bg-box-primary);
    border-collapse: collapse;
}
table {
    table-layout: fixed;
    width: 100%;
}
th, td {
    width: 25%;
    text-align: center;
  }
tr {
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 0;
}
th {
    text-transform: capitalize;
    font-size: 14px;
    padding: 10px;
    text-align: left;
    border-collapse: collapse;
    color: rgba(var(--rgba-white), 0.8);
    border-bottom: 3px solid rgba(var(--rgba-primary), 0.2);
}
.head_table {
    position: sticky;
    top: -1px;
    background: var(--black-color) !important;
    z-index: 2;
}
tr:nth-child(odd) {
    background: rgba(var(--rgba-black), 0.3);
    border-collapse: collapse;
}
tr:hover {
    background: rgba(var(--rgba-primary), 0.05);
    z-index: 0;
}
td {
    border: none;
    font-size: 12px;
    padding: 10px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
td img {
    width: 100%;
}
input[type="checkbox"] {
    position: relative;
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid var(--primary-color);
    outline: none;
    transition: all 0.3s ease;
    padding: 7px;
    box-shadow: none;
    cursor: pointer;
  }
  
  input[type="checkbox"]::before {
    content: "";
    background-color: transparent;
    transition: all 0.3s ease;
  }
input[type="checkbox" i]:hover {
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
}
input[type="checkbox"]:checked {
    background-color: var(--primary-color);
    position: relative;
    overflow: hidden;
}
input[type="checkbox"]:checked::before {
    content: "✓";
    position: absolute;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    top: 0;
    left: 0;
    border-radius: 6px;
}

.check_box {
    width: 10%;
}
.dot_action {
    padding: 3px 10px;
    border-radius: 12px;
    border: 1px solid transparent;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}
.dot_action:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
.kolom_action {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: inherit;
}
.action_crud {
    position: absolute;
    top: 37px;
    left: -8px;
    background: rgba(var(--rgba-white));
    box-shadow: 3px 5px 5px rgba(var(--rgba-black), 0.3);
    padding: 10px;
    z-index: 1;
    border-radius: 6px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.action_crud.show {
    display: flex;
    opacity: 1;
}
.list_action {
    display: flex;
    align-items: center;
    gap: 3px;
    border-radius: 0 0 6px 6px;
    padding: 5px;
}
.list_action:hover {
    box-shadow: 0 1px 1px rgba(var(--rgba-primary), 0.3);
}
.list_action span {
    color: rgba(var(--rgba-black));
}
.list_action svg {
    width: 13px;
}
.show_img_tbl {
    width: 100%;
    position: relative;
    overflow: inherit;
    display: flex;
    justify-content: flex-start;
}
.table_img {
    display: none;
    position: absolute;
    width: 100%;
    top: 35px;
    border-radius: 6px;
    transition: all 0.5s ease;
}
.sec_modal {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(var(--rgba-black), 0.8);
    margin: auto;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    opacity: 1;
}
.componen_modal {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    background: var(--bg-box-primary);
    border: var(--border-primary);
    border-radius: 6px;
    margin-top: 10%;
    align-items: center;
    position: relative;
    animation: munculIn 0.3s;
}
@keyframes munculIn {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
.closemodal {
    font-size: 13px;
    width: 25px;
    height: 25px;
    padding: 5px;
    background: rgba(var(--rgba-primary), 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -20px;
    right: -30px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.closemodal:hover {
    background: rgba(var(--rgba-primary));
    color: rgba(var(--rgba-white));
}
.body_modal {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 20px 20px 50px 20px;
    position: relative;
}
.body_modal h3 {
    padding: 20px 0;
    width: 100%;
    text-align: center;
    font-family: 'myFont1';
    letter-spacing: 2px;
    border-bottom: 1px solid rgba(var(--rgba-primary), 0.2);
}
.conten_body_modal {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 20px 0;
    overflow-y: auto;
    flex-direction: column;
}
.pilihan_gambar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
    position: relative;
    border-radius: 0 6px 6px 0;
    overflow: hidden;
}
form {
    width: 100%;
    overflow-y: auto;
    max-height: 83vh;
    padding-bottom: 100px;
}
.list_form {
    width: 100%;
    display: flex;
    gap: 5px;
    padding-bottom: 5px;
}
.sec_label {
    width: 40%;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 6px 0 0 6px;
    background: rgba(var(--rgba-white), 0.05);
    border: var(--border-primary);
    text-transform: capitalize;
}
.list_form input {
    border-radius: 0 6px 6px 0;
    padding: 10px;
    background: rgba(var(--rgba-primary-bg-color));
    color: rgba(var(--rgba-white));
    box-shadow: none;
    transition: all 0.3s ease;
}
.list_form input:hover {
    border: 1px solid rgba(var(--rgba-primary));
}
select {
    width: 100%;
    border-radius: 0 6px 6px 0;
    padding: 10px;
    background: rgba(var(--rgba-primary-bg-color));
    color: rgba(var(--rgba-white));
    outline: none;
    border: none;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}
select:hover {
    border: 1px solid rgba(var(--rgba-primary));
}
select:focus {
    border: 1px solid rgba(var(--rgba-primary));
}
input[type=file] {
    border-radius: 0;
    height: 100%;
}
input[type=file]::before {
    content: "Upload File Baru";
    display: inline-block;
    background-color: rgba(var(--rgba-primary));
    color: #fff;
    padding: 4px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
}
input[type=file]::-webkit-file-upload-button {
    visibility: hidden;
    display: none;
}
.img_gallery {
    display: flex;
    width: 20%;
    border-radius: 0 6px 6px 0;
    outline: none;
    background: rgba(var(--rgba-primary));
    border: 1px solid transparent;
    color: rgba(var(--rgba-white));
    cursor: pointer;
    transition: all 0.3s ease;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    height: 100%;
    box-shadow: -3px 0 5px rgba(var(--rgba-black), 0.5);
}
.img_gallery:hover {
    background: transparent;
    border: 1px solid rgba(var(--rgba-primary));
}
textarea {
    width: 100%;
    outline: none;
    border: 1px solid transparent;
    border-radius: 0px 6px 6px 0px;
    padding: 10px;
    background: rgba(var(--rgba-primary-bg-color));
    color: rgba(var(--rgba-white));
    box-shadow: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
textarea:focus {
    border: 1px solid rgba(var(--rgba-primary));
}
textarea:hover {
    border: 1px solid rgba(var(--rgba-primary));
}
.sec_togle {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 0 6px 6px 0;
    padding: 10px;
    background: rgba(var(--rgba-primary-bg-color));
    color: rgba(var(--rgba-white));
    box-shadow: none;
    transition: all 0.3s ease;
}
.sec_switch {
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: rgba(var(--rgba-white), 0.1);
    border: var(--border-primary);
    box-shadow: inset 0 0 5px rgba(var(--rgba-black), 0.5);
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid transparent;
}
.sec_switch:hover {
    border: 1px solid rgba(var(--rgba-primary));
}

.sec_switch:before {
    content: "Off";
    position: absolute;
    width: 18px;
    height: 17px;
    background-color: rgba(var(--rgba-white));
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.2s;
    color: rgba(var(--rgba-danger));;
    padding: 3px 3px 4px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    box-shadow: 2px 0 5px rgba(var(--rgba-black), 0.8);
}

.sec_togle input[type="checkbox"] {
    display: none;
    transition: all 0.3s ease;
}
.sec_togle input[type="checkbox"]:checked + .sec_switch:before {
    transform: translateX(30px);
    content: "On";
    box-shadow: -2px 0 5px rgba(var(--rgba-black), 0.8);
}

.sec_togle input[type="checkbox"]:checked + .sec_switch {
    background-color: rgba(var(--rgba-primary));
}
.sec_button_form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.sec_botton {
    font-size: 15px;
    padding: 8px 25px;
    border-radius: 6px;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: 'myFont1';
    letter-spacing: 1px;
    border: 1px solid transparent;
    text-transform: capitalize;
    transition: all 0.3s ease;
}
.btn_submit {
    background: rgba(var(--rgba-primary));
    color: rgba(var(--rgba-white));
}
.btn_submit:hover {
    background: transparent;
    border: 1px solid rgba(var(--rgba-primary));
}
.btn_cancel {
    background: transparent;
    border: var(--border-primary);
    color: rgba(var(--rgba-white));
}
.btn_cancel:hover {
    background: transparent;
    border: 1px solid rgba(var(--rgba-primary));
}
.btn_primary {
    background: rgba(var(--rgba-primary));
    color: rgba(var(--rgba-white));
}
.btn_primary:hover {
    background: transparent;
    border: 1px solid rgba(var(--rgba-primary));
}
.btn_secondary {
    background: rgba(var(--rgba-secondary));
    color: rgba(var(--rgba-white));
}
.btn_secondary:hover {
    background: transparent;
    border: 1px solid rgba(var(--rgba-secondary));
}
.btn_success {
    background: rgba(var(--rgba-success));
    color: rgba(var(--rgba-white));
}
.btn_success:hover {
    background: transparent;
    border: 1px solid rgba(var(--rgba-success));
}
.btn_danger {
    background: rgba(var(--rgba-danger));
    color: rgba(var(--rgba-white));
}
.btn_danger:hover {
    background: transparent;
    border: 1px solid rgba(var(--rgba-danger));
}
.btn_warning {
    background: rgba(var(--rgba-warning));
    color: rgba(var(--rgba-black));
}
.btn_warning:hover {
    background: transparent;
    border: 1px solid rgba(var(--rgba-warning));
    color: rgba(var(--rgba-white));
}
.btn_blank {
    border: 1px solid rgba(var(--rgba-primary));
    background: transparent;
    color: rgba(var(--rgba-white));
}
.btn_blank:hover {
    color: rgba(var(--rgba-white));
    background: rgba(var(--rgba-primary), 0.1);
}
.sec_button_form a {
    width: auto;
}
.grubsearchtable {
    display: flex;
    align-items: center;
    position: relative;
    gap: 3px;
    padding: 3px 5px;
    border-radius: 3px;
    border: var(--border-primary);
    background: rgba(var(--rgba-black), 0.3);
    max-width: 200px;
}
.grubsearchtable input {
    background: transparent;
    box-shadow: none;
    padding: 0;
    color: rgba(var(--rgba-white));
}
.grubsearchtable input:focus {
    border: none;
}
.grubsearchtable svg {
    width: 15px;
}
.filter_row {
    position: sticky;
    top: 35px;
    background: #262932;
    z-index: 1;
}
.sec_form {
    position: relative;
    width: 100%;
    padding: 10px;
}
.sec_form .sec_button_form {
    position: relative;
    bottom: unset;
    left: unset;
    margin-top: 20px;
}
.sec_form h3 {
    font-family: 'myFont1';
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
}
.sec_head_form {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(var(--rgba-primary), 0.2);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}
.sec_head_form span {
    margin-top: 5px;
}
.bar_code.button {
    grid-template-columns: repeat(6, 1fr);
}
.sec_card_rtp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 6px;
    background: var(--bg-box-primary);
    border: var(--border-primary);
    transition: all 0.3s ease;
    position: relative;
}
.sec_card_rtp img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    filter: drop-shadow(var(--shadow-primary));
}
.sec_card_rtp span {
    text-align: justify;
}
.sec_atas_rtp {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.img_rtp {
    padding: 10px;
    width: 100%;
    background: linear-gradient(to right, rgba(var(--rgba-primary), 0.5), rgba(var(--rgba-primary)));
    box-shadow: inset 0 0 10px rgba(var(--rgba-primary));
    border-radius: 6px;
}
.text_rtp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    text-shadow: var(--shadow-primary);
}
.text_rtp h3 {
    color: rgba(var(--rgba-white), 0.8);
    font-family: 'myFont1';
    letter-spacing: 2px;
}
.sec_bawah_rtp {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.sec_bawah_rtp img {
    width: 30% !important;
    border: 3px solid rgba(var(--rgba-primary));
}
.sec_card_count {
    width: 100%;
    background: linear-gradient(45deg, var(--bg-box-primary), transparent);
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 6px;
    border: var(--border-primary);
    transition: all 0.3s ease;
    position: relative;
}
.prog_icon_circle {
    width: 70px;
    height: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.prog_icon_circle.primary {
    background: transparent;
    border: 3px solid rgba(var(--rgba-primary), 0.2);
}
.prog_icon_circle.secondary {
    background: transparent;
    border: 3px solid rgba(var(--rgba-secondary), 0.2);
}
.prog_icon_circle.success {
    background: transparent;
    border: 3px solid rgba(var(--rgba-success), 0.2);
}
.prog_icon_circle.danger {
    background: transparent;
    border: 3px solid rgba(var(--rgba-danger), 0.2);
}
.prog_icon_circle.warning {
    background: transparent;
    border: 3px solid rgba(var(--rgba-warning), 0.2);
}
.prog_icon_circle.primary svg {
    width: 50px;
    padding: 10px;
    background: rgba(var(--rgba-white), 0.05);
    border-radius: 50%;
    stroke: rgba(var(--rgba-primary));
}
.prog_icon_circle.secondary svg {
    width: 50px;
    padding: 10px;
    background: rgba(var(--rgba-white), 0.05);
    border-radius: 50%;
    stroke: rgba(var(--rgba-secondary));
}
.prog_icon_circle.success svg {
    width: 50px;
    padding: 10px;
    background: rgba(var(--rgba-white), 0.05);
    border-radius: 50%;
    stroke: rgba(var(--rgba-success));
}
.prog_icon_circle.danger svg {
    width: 50px;
    padding: 10px;
    background: rgba(var(--rgba-white), 0.05);
    border-radius: 50%;
    stroke: rgba(var(--rgba-danger));
}
.prog_icon_circle.warning svg {
    width: 50px;
    padding: 10px;
    background: rgba(var(--rgba-white), 0.05);
    border-radius: 50%;
    stroke: rgba(var(--rgba-warning));
}
.detail_count {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: center;
}
.detail_count h3 {
    font-size: 2vw;
    font-family: myFont1;
    letter-spacing: 2px;
    color: rgba(var(--rgba-white), 0.8);
    text-shadow: var(--shadow-primary);
}
.detail_count span {
    font-size: 1vw;
    text-shadow: var(--shadow-primary);
}
.prog_icon_circle.primary .half_circle {
    width: 70px;
    height: 81px;
    border-radius: 50%;
    border-top: 5px solid rgba(var(--rgba-primary));
    position: absolute;
    z-index: 1;
    left: -2px;
    bottom: -8px;
    transform: rotateZ(242deg);
    box-shadow: 0px -10px 50px rgba(var(--rgba-primary), 0.5);
}
.prog_icon_circle.secondary .half_circle {
    width: 70px;
    height: 81px;
    border-radius: 50%;
    border-top: 5px solid rgba(var(--rgba-secondary));
    position: absolute;
    z-index: 1;
    left: -2px;
    bottom: -8px;
    transform: rotateZ(242deg);
    box-shadow: 0px -10px 50px rgba(var(--rgba-secondary), 0.5);
}
.prog_icon_circle.success .half_circle {
    width: 70px;
    height: 81px;
    border-radius: 50%;
    border-top: 5px solid rgba(var(--rgba-success));
    position: absolute;
    z-index: 1;
    left: -2px;
    bottom: -8px;
    transform: rotateZ(242deg);
    box-shadow: 0px -10px 50px rgba(var(--rgba-success), 0.5);
}
.prog_icon_circle.danger .half_circle {
    width: 70px;
    height: 81px;
    border-radius: 50%;
    border-top: 5px solid rgba(var(--rgba-danger));
    position: absolute;
    z-index: 1;
    left: -2px;
    bottom: -8px;
    transform: rotateZ(242deg);
    box-shadow: 0px -10px 50px rgba(var(--rgba-danger), 0.5);
}
.prog_icon_circle.warning .half_circle {
    width: 70px;
    height: 81px;
    border-radius: 50%;
    border-top: 5px solid rgba(var(--rgba-warning));
    position: absolute;
    z-index: 1;
    left: -2px;
    bottom: -8px;
    transform: rotateZ(242deg);
    box-shadow: 0px -10px 50px rgba(var(--rgba-warning), 0.5);
}
.sec_dropdown {
    border-radius: 6px;
    background: rgba(var(--rgba-white));
    color: rgba(var(--rgba-black));
}
.bar_code.others {
    grid-template-columns: repeat(3, 1fr);
}
option.sec_selected {
    color: #838383;
    font-style: italic;
}
.sec_addnew {
    width: 150px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    padding: 5px 10px;
    background: var(--bg-box-primary);
    border: var(--border-primary);
    border-radius: 6px;
    transition: all 0.3s ease;
}
.sec_addnew:hover {
    background: rgba(var(--rgba-primary));
}
.sec_addnew:hover svg {
    stroke: rgba(var(--rgba-white));
}
.sec_addnew:hover span {
    color: rgba(var(--rgba-white));
}
.sec_edit {
    width: 150px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    padding: 5px 10px;
    background: var(--bg-box-primary);
    border: var(--border-primary);
    border-radius: 6px;
    transition: all 0.3s ease;
}
.sec_edit svg {
    stroke: var(--success-color);
}
.sec_edit:hover {
    background: var(--success-color);
}
.sec_edit:hover svg {
    stroke: rgba(var(--rgba-white));
}
.sec_edit:hover span {
    color: rgba(var(--rgba-white));
}
.sec_delete {
    width: 150px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    padding: 5px 10px;
    background: var(--bg-box-primary);
    border: var(--border-primary);
    border-radius: 6px;
    transition: all 0.3s ease;
}
.sec_delete svg {
    stroke: var(--danger-color);
}
.sec_delete:hover {
    background: var(--danger-color);
}
.sec_delete:hover svg {
    stroke: rgba(var(--rgba-white));
}
.sec_delete:hover span {
    color: rgba(var(--rgba-white));
}
.sec_dashboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}
.dash_sst {
    width: 100%;
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    gap: 10px;
}
.dash_sst img {
    width: 100%;
    border-radius: 6px;
}
.dash_sst.gd-2 {
    grid-template-columns: 1fr 2fr !important;
}
.dash_sst.gd-4 {
    grid-template-columns: repeat(4, 1fr) !important;
}
.list_data_l21 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: stretch;
}
.part_sec_dash {
    width: 100%;
    padding: 10px;
    border-radius: 6px 6px 0 0;
    background: linear-gradient(to bottom, rgba(var(--rgba-white), 0.02), transparent);
}
.part_sec_dash h2 {
    font-family: 'myFont1';
    letter-spacing: 2.5px;
    color: rgba(var(--rgba-white), 0.8);
    font-size: 20px;
    padding-bottom: 5px;
}
.sec_dashboard .sec_card_count,
.sec_dashboard .sec_card_rtp {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.sec_dashboard .sec_card_count:hover,
.sec_dashboard .sec_card_rtp:hover {
    transform: translateY(-3px);
    border: 1px solid rgba(var(--rgba-primary));
    box-shadow: 0 0 20px rgba(var(--rgba-primary), 0.5), inset 0 0 10px rgba(var(--rgba-primary));
}

.group_act_butt {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.all_act_butt {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.show_hide_crud {
    transition: all 1s ease;
}
.sec_table a {
    width: max-content;
}
table svg.icon-tabler-check {
    stroke: var(--success-color);
}
table svg.icon-tabler-x {
    stroke: var(--danger-color);
}
.loaderl21 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loaderl21 p {
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
    animation: textkumpul 2s;
}
@keyframes textkumpul {
    0% {
        opacity: 0;
        letter-spacing: 5px;
    }
    100% {
        opacity: 1;
        letter-spacing: 1px;
    }
}
.konten_loader {
    width: 120px;
    height: 120px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    border: 5px solid var(--bg-box-primary);
    box-shadow: 0 0 10px var(--primary-color);
}
.mutar_loader {
    position: absolute;
    border-radius: 50%;
    animation: mutarloader 1s linear infinite;
}
@keyframes mutarloader {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
.mutar_loader .grp_div {
    position: relative;
    border-radius: 50%;
}
.mutar_loader .div1_loader {
    width: 115px;
    height: 118px;
    border-radius: 50%;
    border-top: 5px solid var(--primary-color);
}
.mutar_loader .div2_loader {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--primary-color);
    border: 1px solid rgba(var(--rgba-primary), 0.5);
    box-shadow: 0 0 10px rgba(var(--rgba-primary), 1.5), inset 0 0 10px rgba(var(--rgba-primary), 1.5);
    position: absolute;
    right: -5px;
    bottom: 50px;
}
.group_notes {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.list_groupnotes {
    width: 100%;
    display: flex;
    position: relative;
    gap: 10px;
    align-items: stretch;
    flex-wrap: wrap;
}
.data_notes {
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 6px;
    background: var(--bg-box-primary);
    border: var(--border-primary);
    box-shadow: 3px 5px 5px rgba(var(--rgba-black), 0.5);
    overflow: hidden;
    position: relative;
}
.data_notes p {
    width: 100%;
    max-height: 240px;
    font-size: 11px;
    text-align: justify;
    white-space: pre-line;
    padding: 0 10px 10px 10px;
}
.data_notes h3 {
    width: 100%;
    padding: 15px 30px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background: var(--primary-color);
}
.data_notes h3:hover {
    background: var(--primary-color);
    border: none;
}
.data_notes a {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--bg-box-primary);
    padding: 5px;
    border-radius: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}
.data_notes a:hover {
    background: transparent;
    border: var(--border-primary);
}
.data_notes a:hover > svg {
    stroke: var(--bg-box-primary);
}
.data_notes svg {
    width: 15px;
    stroke: rgba(var(--rgba-white));
    transition: all 0.3s ease;
}